<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>BULIT-IN FILTERS BY USING FRONT-END</h1>

        <h1>{{data}}</h1>
        <h1>{{data|upper}}</h1>
        <h1>{{data|lower}}</h1>
        <h1>{{data|capfirst}}</h1>
        <h1>{{data|title}}</h1>
        <h1>{{data|length}}</h1>
        <h1>{{da}}</h1>
        <h1>{{da|date:'F'}}</h1>
        <h1>{{da|date:'Y'}}</h1>
        <h1>{{da|date:'F Y D '}}</h1>
        <h1>{{data|truncatewords:'3'}}</h1>#it will give exact 3 words
        <h1>{{data|truncatechars:'3'}}</h1>#it will give 2 characters
        <h1>{{data|slice:'4'}}</h1># it will give exact 4  characters
        <h1>I have {{c}} brain{{c|pluralize}}</h1>
        <h1>i have {{c}} heart{{c|pluralize}}</h1>
        <h1>these{{c}} girl{{c|pluralize}} are{{c|pluralize:'mine'}}</h1>
        
        


    </center>
</body>
</html>